<mat-accordion class="sections-accordion" multi>
    <mat-expansion-panel *ngFor="let section of sections; let index = index" [expanded]="index === 0">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="{{section.LogoUri}}" *ngIf="section.LogoUri">
                <i class="gg-bowl" *ngIf="!section.LogoUri"></i>
                &nbsp;&nbsp;
                {{section.SectionName}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="dishes-container">
            <div *ngFor="let dish of section.MenuItems; let index = index" class="dish-item">
                <mat-divider *ngIf="index > 0"></mat-divider>
                <div class="dish-image" [routerLink]="['/item', dish.Id]">
                    <img mat-card-image src="{{dish.ImageUri}}" alt="{{dish.ItemName}}">
                </div>
                <div class="dish-content">
                    <div class="dish-info" [routerLink]="['/item', dish.Id]">
                        <div class="dish-name">
                            {{dish.ItemName}}
                        </div>
                        <div class="dish-description">
                            {{dish.Description}}
                        </div>
                    </div>
                    <div class="dish-price">
                        {{dish.Price| currency:'AED'}}
                        <button mat-mini-fab class="btn-add-cart" color="primary" (click)="addToCart(dish)">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>