<div class="toolbar" role="banner">
  <div class="logo-container" [routerLink]="'/'">
    <img class="logo" alt="Restaurant Logo" src="{{restaurant.RestaurantChain.LogoUri}}" />
  </div>
  <span class="chain-name">{{restaurant.RestaurantChain.ChainName}}</span>
  <div class="spacer"></div>
  <div class="pad-r-10">
    <mat-icon routerLink="/cart" [matBadgeDisabled]="shoppingCartItems.length==0" matBadge="{{getTotalCount()}}" matBadgeColor="warn">
      shopping_cart
    </mat-icon>
  </div>
</div>